<div class="d-flex justify-content-center">
    <table class="col-3">
        <tr>
            <td><i class="fas fa-user"></i> {{ user.candidate.fullname }}</td>
            <td>{{ user.candidate.age }}ans</td>
        </tr>
        <tr>
            <td><i class="fas fa-at"></i> {{ user.email }}</td>
        </tr>
        <tr>
            <td><i class="fas fa-phone-alt"></i> {{ user.candidate.formattedPhoneNumber }}</td>
        </tr>
        {% if user.candidate.otherNumber %}
            <tr>
                <td><i class="fas fa-phone-alt"></i> {{ user.candidate.formattedOtherPhoneNumber }}</td>
            </tr>
        {% endif %}
    </table>
    <table class="col-6 offset-1">
        <tr>
            <td>Test</td>
        </tr>
    </table>
</div>
