{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.query) }}

    <h4>Métiers</h4>
    {{ form_row(form.job) }}

    <h4>Type de contrat</h4>
    {{ form_row(form.contract) }}

    <h4>Temps de travail</h4>
    {{ form_row(form.duration)  }}


<button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{ form_end(form) }}
