{% extends 'base.html.twig' %}

{% block body %}
    <div class="index">
        <section class="d-flex align-items-center index-job">
            <img src="{{ asset('build/images/pictures/job.jpg') }}" alt="">
            <p>
                JobTech est une plateforme de recherche d’emploi sur les
                métiers techniques. Tout type d’offres correspondant aux
                divers domaines d’activités.<br><br>
                Grâce à nos services, nous vous aidons à trouver le job
                adéquat en fonction de vos compétences ainsi que votre
                personnalité ; car aujourd’hui évoluer dans une environnement
                serein et respectueux de vos valeurs.<br><br>
                Nos services vous informent et conseillent également sur les
                conditions de travail.
            </p>
        </section>
        <section class="sector">
            <h2 class="ml-4 pt-3">Nos secteurs qui recrutent</h2>
            <div class="row row-cols-5 justify-content-around m-3">
                {% for job_category in job_categories %}
                    <div class="col-2 p-0">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-icon text-center"><i class="{{ job_category.icon }}"></i></h5>
                                <p class="card-text text-center">{{ job_category.title }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="last-offers">
            <h2 class="ml-4 pt-3">Nos dernières offres</h2>
            <div class="row row-cols-1 row-cols-md-3 ml-3 mr-3 mt-3">
                {% for offer in offers %}
                    <div class="col mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title text-turquoise">{{ offer.title }}</h5>
                                <p class="card-text">
                                    <span class="text-red"><i class="fas fa-map-marker-alt"></i></span>
                                    {{ offer.city }}, {{ offer.country }}
                                </p>
                                <p class="card-text">
                                    <span class="text-red"><i class="fas fa-hand-point-right"></i></span>
                                    {{ offer.company.name }}
                                </p>
                                <p class="card-text">
                                    <span class="text-red"><i class="fas fa-calendar-alt"></i></span>
                                    {{ offer.contract.title }}
                                </p>
                            </div>
                            <div class="card-footer">
                                <p class="card-text text-turquoise">
                                    Description de l'offre
                                    <span class="float-right"><i class="fas fa-long-arrow-alt-right"></i></span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
