{% extends 'base.html.twig' %}

{% block title 'Toutes les actualités' %}

{% block body %}
    <div class="container">
        <h1 class="pt-3 ml-5">Actualités</h1>
        <div>
            {% for actuality in actualities %}
                <div class="d-flex mt-3 mb-3">
                    <img class="col-5 news-image" src="{{ actuality.image }}" alt="image de l'article">
                    <div class="col-6 offset-1">
                        <p>{{ actuality.postedAt | date('Y/m/d h:i') }} - {{ actuality.title }}</p>
                        <p>{{ actuality.description }}</p>
                        <a href="{{ actuality.isExternal ? actuality.url : path('news_show', {'id': actuality.id}) }}" target="{{ actuality.isExternal ? '_blank' : '_self' }}">Voir plus</a>
                    </div>
                </div>
            {% else %}
                Aucune news trouvée.
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(actualities) }}
            </div>
        </div>
    </div>

{% endblock %}

