{% extends 'base.html.twig' %}

{% block body %}
    <div class="index">
        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="img-top-index" alt="Image de new york">
        <section class="w-100 pt-5 pb-5 jumbotron">
            <div class="d-flex align-items-center justify-content-center container">
                <p class="col-12 col-lg-8 font-weight-bolder">
                    JobTech est une plateforme de recherche d’emploi sur les
                    métiers techniques. Tout type d’offres correspondant aux
                    divers domaines d’activités.<br><br>
                    Grâce à nos services, nous vous aidons à trouver le job
                    adéquat en fonction de vos compétences ainsi que votre
                    personnalité ; car aujourd’hui évoluer dans une environnement
                    serein et respectueux de vos valeurs est important.<br><br>
                    Nos services vous informent et conseillent également sur les
                    conditions de travail.
                </p>
                <img src="{{ asset('build/images/unDraw/index_1.svg') }}" alt="" class="img-index col-lg-4 d-none d-lg-block">
            </div>
        </section>

        <section class="container d-none d-lg-block">
            {% include 'components/_carousel.html.twig' %}
        </section>

        <section class="container mt-3">
            <div class="d-flex align-items-center">
                <img src="{{ asset('build/images/unDraw/index_2.svg') }}" alt="" class="img-index col-lg-3 d-none d-lg-block">
                <div class="text-center col-12 col-lg-9">
                    <h1 class="ml-5 pt-3">Nos secteurs qui recrutent</h1>
                    <div class="row justify-content-center row-cols-2 row-cols-md-4 row-cols-lg-5">
                        {% for job_category in job_categories %}
                            <div class="mt-4 mb-4 job-category">
                                <h5 class="card-icon"><i class="{{ job_category.icon }}"></i></h5>
                                <p class="card-text">{{ job_category.title }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <h1 class="ml-5 pt-3 text-center">Nos dernières offres</h1>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ml-3 mr-3 mt-3">
                {% for offer in offers %}
                    {% include 'offer/components/_card.html.twig' %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('bookmark') }}
    {{ encore_entry_script_tags('apply') }}
{% endblock %}
