<h2>Informations personnelles</h2>

{{ form_start(form) }}
    <div class="row">
        {{ form_row(form.gender) }}
        {{ form_row(form.surname) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.birthday) }}
    </div>

    <div class="row">
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.otherNumber) }}
    </div>

    <div class="row">
        {{ form_row(form.postalCode) }}
        {{ form_row(form.city) }}
        {{ form_row(form.country) }}
    </div>

    <h2>Permis</h2>

    <div>
        {{ form_row(form.haveVehicle) }}
        {{ form_row(form.licenses) }}
    </div>

    <h2>Autres informations</h2>

    {{ form_row(form.isHandicapped) }}

    <div class="row">
        <p>Je souhaite être contacté(e)</p>
        {{ form_row(form.isContactableTel) }}
        {{ form_row(form.isContactableEmail) }}
    </div>

<button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
