<div class="d-flex justify-content-center">

    <div class="col-6">

        <!-- INFORMATION -->
        <div class="mt-3 mb-3 card-profile">
            <h2 class="p-3 border-bottom-title">Informations</h2>

            <table class="mt-3 table">
                <tr>
                    <td class="border-top-0">
                        <i class="fas fa-user"></i> {{ user.candidate.gender.identifier == 'mister' ? 'Homme' : 'Femme' }}
                        - {{ user.candidate.age }}ans
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-map-marker-alt"></i> {{ user.candidate.postalCode }} {{ user.candidate.city }}
                        , {{ user.candidate.countryFullName }}</td>
                </tr>
                {% if user.candidate.haveVehicle %}
                    <tr>
                        <td><i class="fas fa-car"></i> Possède un véhicule.</td>
                    </tr>
                {% endif %}
                {% if user.candidate.licenses %}
                    <tr>
                        <td>
                            <i class="fas fa-address-card"></i> Permis :
                            {% for license in user.candidate.licenses %}
                                {{ license.title }}{{ loop.index == user.candidate.licenses|length ? '' : ',' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><i class="fas fa-wheelchair"></i>
                        <strong>{{ user.candidate.isHandicapped ? 'Oui' : 'Non' }}</strong>, {{ user.candidate.isHandicapped ? '' : 'n\'' }}
                        est {{ user.candidate.isHandicapped ? '' : 'pas' }} un travailleur handicapé.
                    </td>
                </tr>
            </table>
        </div>

        <!-- JOB -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Recherche<a class="float-right mr-3 text-black hover-orange" href="{{ path('candidate_add_search_job') }}"><i class="fas fa-plus"></i></a></h2>
            <div class="m-3">
                <p>Métier : {{ user.candidate.search.job.title }}</p>
                <p>Secteur : {{ user.candidate.search.jobCategory.title }}</p>
                <p>Contrats : {% for contract in user.candidate.search.contracts %}{{ contract.title }}{{ loop.index == user.candidate.search.contracts|length ? '' : ',' }} {% endfor %}</p>
            </div>
        </div>

    </div>

    <div class="col-6">

        <!-- CHART ABILITY -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Profil de compétences</h2>
            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active w-50 text-center" href="#pro" data-toggle="tab">Professionnel</a>
                <a class="nav-item nav-link w-50 text-center" href="#perso" data-toggle="tab">Personnel</a>
            </nav>
            <div class="tab-content">
                <input type="hidden" id="candidate"
                       data-url="{{ path('candidate_get_data_chart', {'id': user.candidate.id}) }}">
                <div class="tab-pane active mt-3 mb-3" id="pro">
                    <canvas id="myChartPro"></canvas>
                </div>
                <div class="tab-pane mt-3 mb-3" id="perso">
                    <canvas id="myChartPerso"></canvas>
                </div>
            </div>
        </div>

        <!-- SKILLS -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Compétences techniques</h2>
            <div class="m-3">
                <p>
                    {% for skill in user.candidate.skills %}
                        <span class="badge badge-primary p-1">{{ skill.title }}</span>
                    {% endfor %}
                </p>

            </div>
        </div>

    </div>


</div>
