<div class="d-flex justify-content-center">

    <div class="col-6">

        <!-- INFORMATION -->
        <div class="mt-3 mb-3 card-profile">
            <div class="d-flex border-bottom-title align-items-center justify-content-between pl-3 pr-3 pt-2 pb-2">
                <h2 class="mt-2">Mes informations</h2>
                {% if app.user == user %}
                <div class="dropdown show">
                    <button class="btn iconEdit" type="button" id="dropdownProfile" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" href="{{ path('edit_user', {'action': 'connexion'}) }}">Email et Mot de
                            Passe</a>
                        <a class="dropdown-item" href="{{ path('edit_user', {'action': 'personal_information'}) }}">Information
                            Personnel</a>
                    </div>
                </div>
                {% endif %}
            </div>

            <table class="mt-3 table">
                <tr>
                    <td class="border-top-0">
                        <i class="fas fa-user"></i> {{ user.candidate.gender.acronym }} {{ user.candidate.fullname }}
                        <span class="float-right">{{ user.candidate.age }}ans</span>
                    </td>
                </tr>
                <tr>
                    <td><i class="fas fa-at"></i> {{ user.email }}</td>
                </tr>
                <tr>
                    <td><i class="fas fa-phone-alt"></i> {{ user.candidate.formattedPhoneNumber }}</td>
                </tr>
                {% if user.candidate.otherNumber %}
                    <tr>
                        <td><i class="fas fa-phone-alt"></i> {{ user.candidate.formattedOtherPhoneNumber }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td><i class="fas fa-map-marker-alt"></i> {{ user.candidate.postalCode }} {{ user.candidate.city }}
                        , {{ user.candidate.countryFullName }}</td>
                </tr>
                {% if user.candidate.haveVehicle %}
                    <tr>
                        <td><i class="fas fa-car"></i> Je possède un véhicule.</td>
                    </tr>
                {% endif %}
                {% if user.candidate.licenses %}
                    <tr>
                        <td>
                            <i class="fas fa-address-card"></i> Permis :
                            {% for license in user.candidate.licenses %}
                                {{ license.title }}{{ loop.index == user.candidate.licenses|length ? '' : ',' }}
                            {% endfor %}
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td><i class="fas fa-wheelchair"></i>
                        <strong>{{ user.candidate.isHandicapped ? 'Oui' : 'Non' }}</strong>,
                        je {{ user.candidate.isHandicapped ? '' : 'ne' }}
                        suis {{ user.candidate.isHandicapped ? '' : 'pas' }} travailleur handicapé.
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-comments"></i>
                        {% if user.candidate.isContactableTel or user.candidate.isContactableEmail %}
                            J'autorise à me contacter par
                            {{ user.candidate.isContactableTel ? 'Téléphone' : '' }}
                            {{ user.candidate.isContactableTel and user.candidate.isContactableEmail ? 'ou' : '' }}
                            {{ user.candidate.isContactableEmail ? 'Email' : '' }}.
                        {% else %}
                            Je ne souhaite pas être contacté.
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>

        <!-- JOB -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Recherche
                {% if app.user == user and user.candidate.search %}<a class="float-right mr-3 text-black hover-orange" href="{{ path('candidate_edit_search_job') }}"><i class="fas fa-edit"></i></a>{% endif %}
            </h2>
            <div class="m-3">
                {% if user.candidate.search %}
                <p>Métier : {{ user.candidate.search.job.title }}</p>
                <p>Secteur : {{ user.candidate.search.jobCategory.title }}</p>
                <p>Contrats : {% for contract in user.candidate.search.contracts %}{{ contract.title }}{{ loop.index == user.candidate.search.contracts|length ? '' : ',' }} {% endfor %}</p>
                {% elseif app.user == user %}
                    <a href="{{ path('candidate_add_search_job') }}">Ajouter le métier recherché</a>
                {% else %}
                    <p>Pas encore renseigné.</p>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="col-6">

        <!-- CV -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Mon CV</h2>
            <div class="m-3">
                {{ form_start(form) }}
                {{ form_widget(form.cvFile) }}
                <button class="btn btn-primary mt-3">Envoyé</button>
                {{ form_end(form) }}
            </div>
        </div>

        <!-- SKILLS -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Compétences techniques
                {% if app.user == user and user.candidate.skills.toArray %}<a class="float-right mr-3 text-black hover-orange" href="{{ path('candidate_add_skill') }}"><i class="fas fa-plus"></i></a>{% endif %}
            </h2>
            <div class="m-3">
                {% if user.candidate.skills.toArray %}
                <p>
                    {% for skill in user.candidate.skills %}
                        <span class="badge badge-primary p-1">{{ skill.title }}</span>
                    {% endfor %}
                </p>
                {% elseif app.user == user %}
                    <a href="{{ path('candidate_add_skill') }}">Ajouter des compétences techniques</a>
                {% else %}
                    <p>Pas encore renseigné.</p>
                {% endif %}
            </div>
        </div>

        <!-- CHART ABILITY -->
        <div class="card-profile mt-3 mb-3">
            <h2 class="p-3 border-bottom-title">Mon profil de compétences</h2>
            {% if user.candidate.questionnaires.toArray %}
            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active w-50 text-center" href="#pro" data-toggle="tab">Professionnel</a>
                <a class="nav-item nav-link w-50 text-center" href="#perso" data-toggle="tab">Personnel</a>
            </nav>
            <div class="tab-content">
                <input type="hidden" id="candidate"
                       data-url="{{ path('candidate_get_data_chart', {'id': user.candidate.id}) }}">
                <div class="tab-pane active mt-3 mb-3" id="pro">
                    <canvas id="myChartPro"></canvas>
                </div>
                <div class="tab-pane mt-3 mb-3" id="perso">
                    <canvas id="myChartPerso"></canvas>
                </div>
                <a class="btn btn-primary ml-3 mb-3" href="">Voir plus</a>
            </div>
            {% elseif app.user == user %}
                <div class="m-3">
                    <a href="{{ path('questionnaire_index') }}">Remplir les questionnaires de personnalité</a>
                </div>
            {% else %}
                <div class="m-3">
                    <p>Pas encore renseigné.</p>
                </div>
            {% endif %}
        </div>

    </div>


</div>
