<h2 class="text-center pt-5">Vous souhaitez éditer vos informations de connexion ?</h2>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div class="d-flex justify-content-end">
        <a href="{{ path('profile') }}" class="btn btn-primary">Retour</a>
        <button class="btn btn-primary ml-3">Modifier</button>
    </div>

{{ form_end(form) }}
