{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}

{% block body %}

    <div class="container">

        {% if app.user == user %}
            <h1 class="pt-3">Mon compte</h1>
            {% if is_granted('ROLE_COMPANY') %}
                {% include 'user/components/company/_profile_company.html.twig' %}
            {% else %}
                {% include 'user/components/candidate/_profile_candidate.html.twig' %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button>prout</button>
                {{ form_end(form) }}

            {% endif %}
        {% else %}
            {% include 'user/components/candidate/_profile_candidate.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% if is_granted('ROLE_CANDIDATE') %}
        {{ encore_entry_script_tags('candidate_graphic') }}
    {% endif %}

{% endblock %}
