{% extends 'base.html.twig' %}

{% block title 'S\'enregistrer' %}
{% block body %}
        <div class="inscription">
    <h1>Register</h1>

    {{ form_start(register) }}
    <div class="d-flex justify-content-between">
        {{ form_row(register.email) }}
        {{ form_row(register.plainPassword.first) }}
        {{ form_row(register.plainPassword.second) }}
    </div>
            <div class="d-flex justify-content-between">
                <p>J'autorise à me contacter</p>
            {{ form_row(register.userInformation.isContactableTel) }}
            {{ form_row(register.userInformation.isContactableEmail) }}
            </div>
    {% if action == 'create_candidat' %}
            <h1>Mes informations personnelles</h1>
            <div class="d-flex justify-content-around">
                {{ form_row(register.userInformation.lastname) }}
                {{ form_row(register.userInformation.firstname) }}
            </div>
            {{ form_row(register.userInformation.homeNumber) }}
            <div class="d-flex justify-content-between">
                {{ form_row(register.userInformation.city) }}
                {{ form_row(register.userInformation.country) }}
                {{ form_row(register.userInformation.postalCode) }}
            </div>
            <div class="d-flex justify-content-between">
                {{ form_row(register.userInformation.birthday) }}
                {{ form_row(register.userInformation.phoneNumber) }}
            </div>
            {{ form_row(register.userInformation.isHandicapped) }}
    {% elseif action == 'create_company' %}
        {{ form_row(register.company.name) }}
        {{ form_row(register.company.siret) }}
        {{ form_row(register.company.postalCode) }}
        {{ form_row(register.company.city) }}
        {{ form_row(register.company.country) }}
        {{ form_row(register.company.address) }}


    {% endif %}
    {{ form_row(register.agreeTerms) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(register) }}
        </div>
{% endblock %}
