{% extends 'base.html.twig' %}

{% block title 'S\'enregistrer' %}
{% block body %}
    <div class="container">
        <h1>Register</h1>

        {{ form_start(register) }}

        {{ form_row(register.email) }}
        {{ form_row(register.plainPassword.first) }}
        {{ form_row(register.plainPassword.second) }}
        {% if action == 'create_candidat' %}
            {{ form_row(register.candidate.lastname) }}
            {{ form_row(register.candidate.firstname) }}
            {{ form_row(register.candidate.birthday) }}
            {{ form_row(register.candidate.city) }}
            {{ form_row(register.candidate.country) }}
            {{ form_row(register.candidate.phoneNumber) }}
            {{ form_row(register.candidate.homeNumber) }}
            {{ form_row(register.candidate.postalCode) }}
            <div class="d-flex justify-content-between">
                {{ form_row(register.candidate.isContactableTel) }}
                {{ form_row(register.candidate.isContactableEmail) }}
                {{ form_row(register.candidate.isHandicapped) }}
            </div>
        {% elseif action == 'create_company' %}
            {{ form_row(register.company.name) }}
            {{ form_row(register.company.siret) }}
            {{ form_row(register.company.postalCode) }}
            {{ form_row(register.company.city) }}
            {{ form_row(register.company.country) }}
            {{ form_row(register.company.address) }}


        {% endif %}
        {{ form_row(register.agreeTerms) }}
        <button type="submit" class="btn">Register</button>
        {{ form_end(register) }}
    </div>

{% endblock %}
