{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
<div class="pt-5">
        <div class="container-fluid">
                <ul class="list-unstyled multi-steps">
                        <li>Start</li>
                        <li class="{{ competence is same as('personnel') ? 'is-active' : null }}">Personnel</li>
                        <li class="{{ competence is same as('professionnel') ? 'is-active' : null }}">Professionnel</li>
                        <li>Résultat</li>
                </ul>
        </div>
</div>
<div class="container pt-4">
        <h1 class="text-center">Compétence {{ competence }}</h1>
    {{ form_start(questions) }}
        {{ form_widget(questions) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(questions) }}
</div>

{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('range_slider') }}
{% endblock %}
